
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

#product {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
  }
  .left-column {
    width: 40%;
  }
  .right-column {
    width: 60%;
    margin-top: 40px;
    padding-left: 30px;
  }
  .left-column img {
    width: 100%;
    margin-top: 50px;
  }
  .product-description {
    margin-bottom: 40px;
  }
  .product-description h1 {
    font-weight: 300;
    font-size: 44px;
    letter-spacing: -2px;
  }
  .product-description h4 {
    margin-top: 20px;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
  }
  .product-description h3 {
    margin-top: 20px;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
  }
  .product-description h3 span {
    color: #009688;
    font-weight: bold;
  }
  .product-description p {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    color: #86939e;
  }
  .product-preview .previewImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 20px;
  }
  .product-preview .previewImg img {
    margin: 5px;
    width: 15%;
    height: 30%;
    cursor: pointer;
    padding: 4px;
    border-radius: 6px;
  }
  

  @media screen and (max-width: 768px) {
    #product {
      display: flex;
      flex-wrap: wrap;
    }
    .left-column {
      width: 100%;
    }
    .right-column {
      width: 100%;
      margin-top: 40px;
      padding-left: 30px;
    }
    .left-column img {
      margin-top: 30px;
    }
    .product-description h1 {
      font-size: 34px;
    }
    .product-description h4 {
      font-size: 14px;
    }
    .product-description h3 {
      font-size: 17px;
    }
    .product-description p {
      font-size: 14px;
    }
  }

